*.class

# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders
target

# ignore eclipse files
.project
.classpath
.settings
.metadata

/dt-front/node_modules/*
/dt-front/.idea/*
/dt-front/.eclispe/*
/dt-front/build/*
/dt-front/npm-debug.log
