*.class

# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders
target

# ignore eclipse files
.project
.classpath
.settings
.metadata

node_modules
.idea
.eclispe
build
npm-debug.log
*.iml
