<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fight.dt.business.dao.mapper.UserMapper">

    <resultMap type="com.fight.dt.business.common.beans.User" id="userMap">
        <id property="id" column="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="username" column="username" javaType="String" jdbcType="VARCHAR"/>
        <result property="password" column="password" javaType="String" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" javaType="String" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" javaType="String" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" javaType="String" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" javaType="java.sql.Date" jdbcType="DATE"/>
        <result property="status" column="status" javaType="String" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" javaType="java.sql.Date" jdbcType="DATE"/>
    </resultMap>

    <insert id="insert" parameterType="com.fight.dt.business.common.beans.User">
        INSERT INTO user (id, username, password, nickname, sex, birthday,phone,email, create_time,status,update_time) values (
        #{id},#{username},#{password},#{nickname},#{sex},#{birthday},#{phone},#{email},#{createTime},#{status},#{updateTime})
    </insert>

    <select id="findById" parameterType="Integer" resultMap="userMap">
        SELECT *
        FROM user u
        <where>
            u.id = #{id}
        </where>
    </select>

    <select id="findByUsername" parameterType="String" resultMap="userMap">
        SELECT *
        FROM user u
        <where>
            u.username = #{username}
        </where>
        limit 0,1
    </select>

</mapper>
